.header {
    width: 100%;
    height: 80px;
    background-color: #97cca2;
    position: fixed;
    top: 0;
    left: 0;
    float: left;
}

.log {
    width: 10%;
    height: 80px;
    background-color: darkgrey;
    float: left;
}

.search {
    width: 57%;
    height: 80px;
    float: left;
}
.search_text {
    width: 20%;
    height: 70px ;
    top: 20px;
}

/* .catalog {
    width: 20%;
    height: 20%;
    float: left;
    background-color: #97cca2;
} */
